.footer {
    margin-top: 20px;
}
.top-footer {
    background-color: #333;
    color: lightgrey;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    padding: 10px;
    font-size: 12px;
}

.heading {
    margin-left: 0;
    font-size: 16px;
    color: lightgray;
}

.top-footer .links ul {
    list-style: none;
    padding: 0;
}

.top-footer .links ul a {
    color: lightgrey;
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.top-footer .links ul a:hover {
    margin-left: 15px;
    transition: all .3s;
    color: white;
}

.bottom-footer {
    background: #4d4d4d;
    color: lightgrey;
    padding: 10px;
    text-align: center;

}

@media only screen and (max-width: 1080px) {
    .top-footer {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer-section:first-child {
        grid-column: span 3;
    }
}

@media only screen and (max-width: 420px) {
    .top-footer {
        grid-template-columns: 1fr;
    }
      .footer-section:first-child {
        grid-column: span 1;
    }
}
