.edit-profile {
    background-color: #4BB543;
    color: #fff;
    padding: 10px;
    text-align: center
}
.user{
    width:50%
}

.user-img{
    height: 120px;
    length: 120px;
}

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: white;
    color: black;
    font-family: "Tahoma";
}

* {
    box-sizing: border-box;
    font-family: 'Tahoma';
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Tahoma";
    font-weight: bold;
    margin: 5px;
    color: black;
}

a{
    color: lightgrey;
}

.group_title {
    text-align: center;
}

.filternav {
    width: 100%;
    overflow: hidden;
    background-color: #333333;
}

.filternav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.filternav a:hover {
  background-color: #ddd;
  color: black;
}

.filternav .type_filter {
    width: 100%;
}

.filternav .game_type_filter {
    width: 20%;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

/* HEADER IMAGE */
.header-img {
    background: url(gb3.png);
    background-position: center;
    background-size: contain;
    height: 220px;
    background-repeat: no-repeat;
}

.page-wrapper {
    min-height: 100%;
}

.page-wrapper a:hover{
    color: black;
}

/* NAVIGATION BAR */
.navbar{
    position: relative;
    overflow: hidden;
}

.navbar-default {
    margin: 0;
}

.navbar-brand{
    position: relative;
}

#navbar-animation {
    position: absolute;
    top: -1000px;
    botton: -1000px;
    right: 0;
    left: 0;
    background-image: linear-gradient(to right, darkgreen, seagreen);
    animation: animate-navbar 3s linear infinite alternate;
}

@keyframes circle-around {
    0% {
        background-size: 0px 3px, 3px 0, 0 3px, 3px 0;
    }
    25% {
        background-size: 100% 3px, 3px 0, 0 3px, 3px 0;
    }
    50% {
        background-size: 100% 3px, 3px 100%, 0 3px, 3px 0;
    }
    75% {
        background-size: 100% 3px, 3px 100%, 100% 3px, 3px 0;
    }
    100% {
        background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
    }
}

.games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game a {
    color: black !important;
    text-decoration: none;
}

.games .game {
    border-radius: 0;
    margin: 0;
    bakcground-image: none;
    background-color: seagreen;
    text-align: center;
}

.games .game:hover {
    background-image: linear-gradient(darkseagreen, darkseagreen), linear-gradient(darkseagreen, darkseagreen), linear-gradient(darkseagreen, darkseagreen), linear-gradient(darkseagreen, darkseagreen);
    background-repeat: no-repeat;
    background-position: left top, right top, right bottom, left bottom;
    background-size: 03px, 3px 0, 0 3px, 3px 0;
    animation: circle-around;
    cursor: pointer;
}

.games .game:hover .game-img {
    transform: perspective(400px) scale(1.1) rotateY(15deg);
}

.game-img {
    width: 200px;
    height: 200px;
    transition: transform 1s ease-in;
}

.consoles {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.console {
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 0;
    margin: 0;
}

.console .console-img {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.block {
    display: block;
}

.profile-image {
    position: relative;
    width: 15px;
    height: 15px;
    float: right;
    border-radius: 5%;
}

.console-img {
    height: 100px;
    width: 100%;
    background-size: cover;
}

.text-input {
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    outline: none;
    color: black;
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-family: "Tahoma";
}

.btn {
    padding: .5rem 1rem;
    background: grey;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-family: "Tahoma";
}

.btn-big {
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
}

.btn:hover {
    color: white; !important;
    background: dimgrey;
}

.row .column {
    width: 350px;
    padding: 50px;
    margin: 20px;
    text-align: center;
}

.billing-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}
.container-billing{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.container-payment{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    padding: 0 16px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 0px;
  display: block;
}

.container-accepted-cards {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.back-forth-btn{
  background-color: #808080;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 25%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.cart-items{
    color: black;
}

.payment-img{
    width: 100px;
    height: 100px;
}

.title{
    text-align: center;
}

.home_title{
    text-align: center;
    margin: 50px;
}

.app {
    max-width: 1080px;
    margin: 0 auto;
}

.home-bullets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bullet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    margin-top: 100px;

}

@media only screen and (max-width: 1080px) {

    .app {
        margin: 0 10px;
    }
    .home-bullets {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 760px) {
    .header-img {
        display: none;
    }
    .home-bullets {
        grid-template-columns: 1fr;
    }
}