/*.game {
    border-bottom: solid 2px rgba(155, 155, 155, .5);
    color: green;
}/*
/*.console {
    border-bottom: solid 2px rgba(155, 155, 155, .5);
}*/

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: white;
    font-family: "Raleway";
}

* {
    box-sizing: border-box;
    font-family: 'Raleway';
}

* {
    box-sizing: border-box;
    font-family: 'Raleway';
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: bold;
    margin: 5px;
    color: coral;
}

.page-wrapper {
    min-height: 100%;
}

.page-wrapper a:hover{
    color: white;
}

.navbar{
    position: relative;
    overflow: hidden;
}

.navbar-brand{
    position: relative;
}

#navbar-animation {
    position: absolute;
    top: -1000px;
    botton: -1000px;
    right: 0;
    left: 0;
    background-image: linear-gradient(to right, #EF626C, #840CCF);
    animation: animate-navbar 3s linear infinite alternate;
}

a{
    color: white !important;
}

/*a:hover {
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    background-position: bottom;
}

@keyframes line-under {
    0% {
        background-size: 0px  3px;
    }
    100% {
        background-size: 100% 3px;
    }
}*/

@keyframes animate-navbar {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotateZ(180deg);
    }
}

@keyframes circle-around {
    0% {
        background-size: 0px 3px, 3px 0, 0 3px, 3px 0;
    }
    25% {
        background-size: 100% 3px, 3px 0, 0 3px, 3px 0;
    }
    50% {
        background-size: 100% 3px, 3px 100%, 0 3px, 3px 0;
    }
    75% {
        background-size: 100% 3px, 3px 100%, 100% 3px, 3px 0;
    }
    100% {
        background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
    }
}

.games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game a {
    color: black !important;
    text-decoration: none;
}

.games .game {
    border-radius: 0;
    margin: 0;
    bakcground-image: none;
    background-color: white;
    text-align: center;
}

/* */

.games .game:hover {
    background-image: linear-gradient(#C500E2, #9A27F7), linear-gradient(#6564FF, #2A96FA), linear-gradient(#2FF89F, #68FF6B), linear-gradient(#F82D97, #E82FD9);
    background-repeat: no-repeat;
    background-position: left top, right top, right bottom, left bottom;
    background-size: 03px, 3px 0, 0 3px, 3px 0;
    animation: circle-around;
    cursor: pointer;
}
.games .game:hover .game-img {
    transform: perspective(400px) scale(1.1) rotateY(15deg);
}

.game-img {
    width: 200px;
    transition: transform 1s ease-in;
}

.consoles {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.console {
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 0;
    margin: 0;
}

.console .console-img {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.block {
    display: block;
}

.profile-image {
    position: relative;
    width: 15px;
    height: 15px;
    float: right;
    border-radius: 5%;
}

.console-img {
    height: 100px;
    width: auto;
    background-size: cover;
}

.text-input {
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    outline: none;
    color: white;
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-family: "Roboto Light";
}

.btn {
    padding: .5rem 1rem;
    background: orange;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn-big {
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
}

.btn:hover {
    color: white; !important;
    background: cadetblue;
}
.footer {
    background: grey;
    color: white;
    height: 400px;
    position: relative;
    bottom: -50px;
    font-family: "Roboto Light";
}

.footer .top-footer {
    height: 350px;
    display: flex;
}

.footer .top-footer .footer-section {
    flex: 1;
    padding: 25px;
}

.footer .top-footer h1,
.footer .top-footer h2 {
    color: white;
}

.footer .top-footer .about h1 span{
    color: orange;
    font-family: "Roboto Light";
}

.footer .top-footer .about .contact-form span {
    font-family: "Roboto Light";
    margin-bottom: 8px;
}

.footer .top-footer .about .socials a {
    border: 1px solid grey;
    widht: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
}

.footer .top-footer .about .socials a:hover {
    border: 1px solid white;
    transition: all .3s;
}

.footer .top-footer .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer .top-footer .links ul a:hover {
    margin-left: 15px;
    transition: all .3s;
}

.footer .top-footer .contact-form contact-input {
    background: white;
    color: darkslateblue;
    margin-bottom: 10px;
    line-height: 1.5em;
    padding: .9rem 1.4rem;
}

.footer .top-footer .contact-form contact-input:focus {
    background: black;
}

.footer .top-footer .contact-form .contact-btn {
    float: right;
}

.footer .bottom-footer {
    background: black;
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    border: none;
}

/*
Langar að breyta um font
Iconin sem ég setti inn virka ekki
Kemur alltaf einhver hvít lína undir linkana
væri til í að stækka text boxið
*/
