
.sort_by {
    position: relative;
    display: inline-block;
}

.sort_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.sort_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.sort_content a:hover {
    background-color: lightgrey
}

.sort_by:hover .sort_content {
    display: block;
}

.sort_btn {
    background-color: #333333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.sort_by:hover .sort_btn {
    background-color: black;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
}
.well {
    margin: 0;
}

.product-link {
    display: flex;
    flex-direction: column;
}

.product-img {
    width: 300px;
    height: 300px;
    align-self: center;
    margin-bottom: 10px;
}

.product-name {
    text-decoration: underline;
    font-weight: 700;
}

.product-name:hover {
    color: #000;
    opacity: 0.8;
}

.product-name,.product-field {
    display: block;
    margin: 0;
    color: #000;
}

.product-field:hover {
    margin: 0;
    color: #000;
    text-decoration: none;
}

@media only screen and (max-width: 1080px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 760px) {
    .products {
        grid-template-columns: 1fr;
    }
}

.add-button {
    background-color: #4BB543;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-top: 20px;

.product-description {
    margin-top: 20px;

}

.product-info {
    margin-bottom: 10px;
}