{% extends "base.html" %}
{% block content %}

    <h1>{{ game.name }}</h1>
    <p>{{ game.description}}</p>
    <h4>Price {{ game.price}} USD</h4>
    <h4>Age Limit: {{ game.age_limit}} years</h4>
    <p>Console: {{ game.console.name}} </p>
    {% for game_image in game.gameimage_set.all %}
        <img src="{{game_image.image}}"class="game.img" />
    {% endfor %}

    <a href="{% url 'delete_game' game.id %}" class="block btn btn-primary">Delete game</a>
    <a href="{% url 'update_game' game.id %}" class="block btn btn-primary">Update game</a>
{% endblock %}