{% extends 'base.html' %}
{% block content %}
    <h3 class="red">Hello from the index function within the game app</h3>
<div class="input-group">
    <input type="search" class= "form-control" id ="search-box" placeholder="Enter your search here.."/>
    <div class="input-group-btn">
        <button type="button" id="search-btn" class="btn btn-default">Search</button>
    </div>
</div>
<div class="categories" id="product_categories" >
        <li><a href="{% url 'product-gameboy_index' %}">Gameboy</a></li>
        <li><a href="{% url 'product-neo_index' %}">Neo</a></li>
        <li><a href="{% url 'product-nes_index' %}">NES</a></li>
        <li><a href="{% url 'product-sega_index' %}">Sega</a></li>
        <li><a href="{% url 'product-turbografix_index' %}">TurboGrafix</a></li>


</div>


<div class="products">
    {% for product in products %}
        {% include 'product/single_game.html' with product=product %}
    {% endfor %}
</div>
{% endblock %}


