{% extends 'base.html' %}
{% block content %}
<div class="categories" id="product_categories" >
        <li><a href="?type_filter=1">Gameboy</a></li>
        <li><a href="?type_filter=2">Neo</a></li>
        <li><a href="?type_filter=3">NES</a></li>
        <li><a href="?type_filter=4">Sega</a></li>
        <li><a href="?type_filter=5">TurboGrafix</a></li>
</div>
<div class="products">
    {% for product in product %}
        {% include 'product/single_product.html' with product=product %}
    {% endfor %}
</div>
{% endblock %}