{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<br>
<div class="filternav">
       <a href="?type_filter=1">Gameboy</a>
        <a href="?type_filter=2">Neo</a>
        <a href="?type_filter=3">NES</a>
        <a href="?type_filter=4">Sega</a>
        <a href="?type_filter=5">TurboGrafix</a>
</div>

<div class="row">
  <div class="column">
      <i class="fa fa-couch" style="font-size:40px;color:red;"></i><br><br>
      <h4> Free shipping</h4> <br>
      <p>If you live in the city area then we ship your order to you free of charge.</p><br><br>
  </div>

  <div class="column">
       <i class="fa fa-car" style="font-size:40px;color:red;"></i><br><br>
       <h4>Delivery charge</h4> <br>
       <p>If you live outside the city area then you will be charged 800 kr. and the order will arrive at your door within 2-3 working days.</p>
    </div>

  <div class="column">
      <i class="fa fa-smile" style="font-size:40px;color:red;"></i><br><br>
      <h4>Something for everybody</h4> <br>
      <p>Our selection is growing every day and everybody should find something of their liking.</p><br>
  </div>
</div>

<!--
<div class="products">
    {% for product in product %}
        {% include 'product/single_product.html' with product=product %}
    {% endfor %}
</div> -->
{% endblock %}