{% extends 'base.html' %}
{% block content %}
<br>
{% if category != True %}
<div class="title-base ">
    <h1 class="Title">{{title}}</h1>
    <div class="sort_by" style="float:right;">
        <button class="sort_btn">Sort by </button>
          <div class="sort_content">
              <a href="?type_filter=name">Name</a>
              <a href="?type_filter=price_high">Price: lowest first</a>
              <a href="?type_filter=price_low">Price: highest first</a>
          </div>
    </div>
</div>
{% endif %}

{% if title == "Games" %}
    <div class="form-group">
        <input autocomplete="on" type="search" class="form-control" id="search-box_game" placeholder="Search...">
    </div>
        <button type="button" id="search-btn_game" class="btn btn-default">Search</button>
{% endif %}
{% if title == "Consoles" %}
    <div class="form-group">
        <input autocomplete="on" type="search" class="form-control" id="search-box_console" placeholder="Search...">
    </div>
        <button type="button" id="search-btn_console" class="btn btn-default">Search</button>
{% endif %}
<br><br><br>
<div class="categories" id="product_categories" ><br>
<div class="filternav">
        <a href="?type_filter=1" class="game_type_filter">Gameboy</a>
        <a href="?type_filter=2" class="game_type_filter">Neo</a>
        <a href="?type_filter=3" class="game_type_filter">NES</a>
        <a href="?type_filter=4" class="game_type_filter">Sega</a>
        <a href="?type_filter=5" class="game_type_filter">TurboGrafix</a>
</div>
</div>
<div class="products">
    {% for product in products %}
        {% include 'product/single_product.html' with product=product %}
    {% endfor %}
</div>
{% endblock %}

