{% block content %}
<div class="well product">
    <a class="product-link" href="/products/{{ rev_item.product.id }}">
    <!---<img class="product-img" src="{{rev_item.product.productimage_set.first.image}}"/>--->
    <img class="reviewed-img" src="{{rev_item.product.productimage_set.first.image}}"/>
    <span class="product-name"><strong>Name:</strong> {{rev_item.product.name}}</span>

        </a>
                <span class="product-field"><strong>Price:</strong> {{rev_item.product.price}} USD</span>

</div>
{% endblock %}

