{% block content %}
<div class="well game">
    <a class="product-link" href="/products/{{ product.id }}">
        <img class="product-img" src="{{product.productimage_set.first.image}}"/>
        <span class="product-name">{{product.name}}</span>
    </a>
    <span class="product-field"><strong>Price:</strong> {{product.price}} USD</span>
    {% if product.age_limit != "" %}
    <span class="product-field"><strong>Age Limit:</strong> {{product.age_limit}} years</span>
    {% endif %}
</div>
{% endblock %}