{% extends 'base.html' %}
{% block content %}
<div class="cart">
    <h2 class="cart-heading">Hello, welcome to your cart!</h2>
    <div class="products">

        {% for item in items %}
            {% include 'shopping_cart/cart_item.html' with cart_item=item %}
        {% endfor %}
    </div>
    <div class="carttotal-container">
        <span class="cart-total">Total Price: {{totalprice}} USD</span>
        <a href="{% url 'payment-billing_address' %}" class="button buy-button">Buy products</a>
    </div>
</div>

{% endblock %}

