<footer class="footer">

    <div class="top-footer">
        <div class="footer-section about">
            <h1 class="logo-text"><span>Captain</span>Console</h1>
            <p>Captain Console is a store that sells retro games and consoles.
            Our goal is to become the greatest, biggest and most recognized retro gaming shop out there! <br>
            <br><b>Contact us!</b></p>
            <div class="contact">
                <span><i fas fa-phone></i> &nbsp; +354 411 2233 </span> <br>
                <span><i fas fa-envelope></i> &nbsp; info@captainconsole.is </span>
            </div>
            <!---<div class="socials">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div> --->
        </div>
        <div class="footer-section links">
            <h2>Quick Links</h2> <br>
            <ul>
                <a href="#">
                    <li>Home</li>
                </a>
                <a href="games">
                    <li>Games</li>
                </a>
                <a href="consoles">
                    <li>Consoles</li>
                </a>
                <a href="/user/login">
                    <li>Log in</li>
                </a>
                <a href="/user/register">
                    <li>Register</li>
                </a>
            </ul>
        </div>
        <div class="footer-section contact-form">
            <h2>Message us</h2> <br>
            <!---<form action="index.html" method="post"> --->
                <input type="email" name="email" class="text-input contact input" placeholder="Email">
                <textarea name="message" class="text-input contact-input" placeholder="Type your message here"></textarea> <br>
                <button type="submit" class="btn btn-big contact-btn"> Send </button>
            </form>
        </div>
    </div>

    <div class="bottom-footer">
            &copy; Captain Console | 2020
    </div>
</footer>
