<footer class="footer">

    <div class="top-footer">
        <div class="footer-section about">
            <h1 class="logo-text heading"><span>Captain</span>Console</h1> <br>
            <p>Captain Console is a new retro gaming shop has emerged.
                The shop has one goal, to become the greatest, biggest and most
                recognized retro gaming shop out there! We sell everything from
                TurboGrafix to Gameboy. We used to only have
                brick and mortar stores and no online presence whatsoever but now that
                has changed. Welcome to our new online store! </p>

        </div>

        <div class="footer-section opening-hours">
            <h2 class="heading">Opening Hours</h2> <br>
                <p>
                    Monday: 11:00 - 18:00 <br>
                    Tuesday: 11:00 - 18:00<br>
                    Wednesday: 11:00 - 18:00<br>
                    Thursday: 11:00 - 21:00<br>
                    Friday: 11:00 - 18:00<br>
                    Saturday: 11:00 - 17:00<br>
                    Sunday: Closed
                </p>
            <div class="fas"></div>

            </form>
        </div>

        <div class="footer-section links">
            <h2 class="heading">Quick Links</h2> <br>
            <ul>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/products/games">
                    <li>Games</li>
                </a>
                <a href="/products/consoles">
                    <li>Consoles</li>
                </a>
                <a href="/user/login">
                    <li>Log in</li>
                </a>
                <a href="/user/register">
                    <li>Register</li>
                </a>
            </ul>
        </div>

        <div class="footer-section contact-form">
            <h2 class="heading">Contact us!</h2> <br>

            <div class="contact">
                <span> +354 411 2233 </span> <br>
                <span> <a href = "mailto:info@captainconsole.is ">info@captainconsole.is</a></span>
            </div> <br>

            <input type="email" name="email" class="text-input contact input" placeholder="Email">
                <textarea name="message" class="text-input contact-input" placeholder="Type your message here"></textarea> <br>
                <button type="submit" class="btn btn-big contact-btn"> Send </button>
            </form>
        </div>

    </div>

    <div class="bottom-footer">
            &copy; Captain Console | Kringlan 4-12, 103 Reykjavík | kt. 571298-3779 | VSK nr. 60599
    </div>
</footer>
