<footer class="footer text-white">
    <div class="row">
        <div class="col-md-4">
            <p> <b> Captain console </b>
                <br>Laugarvegi 37 </br>
                    101 Reykjavík
                <br> Kt. 151505-2121</br>
                Vsk nr. 123654
            </p>
        </div>
        <div class="col-md-4">
            <p> <b> Opening Hours </b>
                <br> Monday: 10:00-18:00 </br>
                    Tuesday: 10:00-18:00
                <br> Wednesday: 10:00-18:00</br>
                    Thursday: 10:00-18:00
                <br> Friday: 10:00-20:00</br>
                    Saturday: 12:00-14:00
                <br> Sunday: Closed</br>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <b>Help and Information</b>
                <br>About us</br>
                Terms and conditions
                <br>Send us an email here (linkur) </br>
                Facebook (icon)
                <br> Twitter (icon) </br>
                Instagram (icon)
            </p>
        </div>
    </div>
</footer>
