{% extends 'base.html' %}
{% block content %}
<br><br>
<h1>Payment</h1><br>
<div class="payment-row">
    <div class="col-50">
        <div class="container-payment">
            <label>Accepted Cards</label>
            <div class="container-accepted-cards">
                <i class="fa fa-cc-visa" style="color:navy;"></i>
                <i class="fa fa-cc-amex" style="color:blue;"></i>
                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>

            <hr>
            <label for="cname">Name on Card : </label>
            <input type="text" id="cname" name="cardname" placeholder="Jón Jónsson"><br>
            <label for="ccnum">Credit card number : </label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444"><br>
            <label for="expmonth">Exp Month : </label>
            <input type="text" id="expmonth" name="expmonth" placeholder="10"><br>
            <label for="expyear">Exp Year : </label>
            <input type="text" id="expyear" name="expyear" placeholder="2020"><br>
            <label for="cvv">CVV : </label>
            <input type="text" id="cvv" name="cvv" placeholder="555"><br>
          </div>
        </div>
    <hr>
    <div class="col-50">
        <div class="container-cart-items">
            <h4 style="color:black">Items in Cart
                <span class="price" style="color:black">
                    <i class="fa fa-shopping-cart"style="color:black"></i>
                </span>
                {{itemcount}}
            </h4>
            {% for item in items %}
                <p><a href="/product/{{item.id}}" class="cart-items">
                    {{item.name}}</a>
                    <span class="price">{{item.price}} USD</span></p>
            {% endfor %}
            <hr>
            <h4 style="color:black">Total Price: {{totalprice}} USD</h4>
            <hr>
            <a href="/payment/billing/" class = "button normal-button">Go back</a>
            <a href="/payment/overview/" class = "button buy-button">Continue</a>
        </div>
    </div>
</div>
{% endblock %}