{% extends "base.html" %}
{% block content %}

<div class="well user">
    <div>
        <img class="user-img" src="{{user.profile_image}}"/>

    </div>
        <h2> {{user.name}}</h2>
    <br>
        <h4> {{user.birth_date}}</h4>
    <br>
        <h4><i class="fa fa-address-card-o"></i> {{user.address}}</h4>
    <br>
        <h4><i class="fa fa-institution"></i> {{user.zip_code}}</h4>
    <br>
        <h4><i class="fa fa-institution"></i> {{user.city}}</h4>
    <br>
        <h4><i class="fa fa-institution"></i> {{user.country}}</h4>
</div>


<a class="button edit-profile" href="{% url 'edit_profile' %}">Edit profile</a>

{% endblock %}

